// Normalise CSS
textarea:focus,
input:focus,
button:focus {
	outline: 0px;
	border: 0px;
}
a {
	text-decoration: none !important;
}

// Login Page Css
.login-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	.logo-wrap {
		padding: 20px;
		display: flex;
		justify-content: center;
		> img {
			height: 30px;
		}
	}
	> div {
		width: 90%;
		max-width: 400px;
		padding: 20px;
		box-shadow: 0px 0px 5px -1px rgba(154, 154, 154, 0.75);
		h4 {
			text-align: center;
			font-weight: 100;
		}
		> form > div {
			margin-top: 25px;
			display: flex;
			flex-direction: column;
			input {
				height: 30px;
				border: 0px;
				border-bottom: solid 1px;
				padding: 0 10px;
			}
			button {
				height: 40px;
				width: 100%;
				padding: 7px;
				border: 1px solid #50b7e8;
				border-radius: 4px;
				font-weight: 400;
				background-color: #50b7e8;
				color: white;
				cursor: pointer;
			}
			p {
				font-size: 10px;
				color: red;
				margin-top: 5px;
				padding-left: 10px;
			}
		}
	}
}

.score-board-wrap {
	display: flex;
	width: 100%;
	max-width: 1240px;
	flex-wrap: wrap;
}

.marks-card {
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;

	> div {
		border-radius: 5px;
		box-shadow: 0px 0px 5px -1px rgba(154, 154, 154, 0.75);
		.first-row {
			display: flex;
			justify-content: space-around;
			padding: 10px;
			> div {
				> img {
					height: 100%;
				}
			}
			.name-wrap {
				flex: 3;
				text-align: left;
				.name {
					text-transform: capitalize;
					color: #50b7e8;
					font-weight: 600;
					font-size: 24px;
					a {
						color: #50b7e8;
					}
				}
			}
			.img-wrap {
				flex: 2;
			}
		}
		.second-row {
			display: flex;
			justify-content: space-around;
			padding: 0 20px;
			border-top: solid 1px #e4e4e4;
			> div {
				padding: 20px;
				border-right: solid 1px #e4e4e4;
				width: 33%;
				&:last-child {
					border-right: 0px;
				}
			}
		}
		p {
			margin: 0px;
			color: #949494;
		}
	}
}

// Marks Detail Page
.marks-detail-wrap {
	margin-top: 10%;
	td {
		text-align: center;
	}
}
